body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.coloring{
    color: orange;
}
.align{
    text-align: justify;
    margin-bottom: 25px;
}
.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(steelblue, rgb(145, 212, 245));
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
.middle{
    margin-top: 100px;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width2{
    width: 50%;
    padding-right: 5%;
}